<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= data.i18n.code %>">

<head>
	<title><%= data.i18n.info %></title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
</head>

<body>
	<div id="title-page">
		<h1 class="title"><%= data.title %></h1>
		<h2 class="subtitle"></h2>
		<h3 class="author"><%= data.author %></h3>
		<h4 class="publisher"><%= data.publisher %></h4>
	</div>
    <% if (Array.isArray(data.tags) && data.tags.length) { %>
        <div class="part-title-wrap">
            <% let tags = data.tags.join('</code>, <code>'); %>
            <code><%- tags %></code>
        </div>
    <% } %>
    <% if (data.description) { %>
        <div class="ugc">
            <%- data.description %>
        </div>
    <% } %>
</body>

</html>
